{% extends "base.html" %}

{% block content %}
<html>
    <section class="u-clearfix u-section-1" id="sec-69cd">
        <div class="u-clearfix u-sheet u-sheet-1 u-align-center ">
            <a href="https://www.dotnetix.ai/scas-ai" class="u-image u-image-1" src=""><img src="/static/safeye_nano_solution.png" alt="Dotnetix SafEye system" width="800"><h4>SafEye Nano</h4></a>
            <p> </p> <br>
            <p>Congratulations of the purchase of your SafEye Nano.</p>
            <p>Here you are able to configure your system for your application.</p>
            <p>Please contact us for support.</p>
            <p>info@dotnetix.co.za</p>
            <p>www.dotnetix.co.za</p>
            <p> </p> <br>
            </div>
        </div>
    </section>
</html>
{% endblock %}
